body {
    color: rgb(255, 255, 255);
    background: rgb(224, 54, 54);
    margin: 0px;
    font-family: "Parkinsans", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 50px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

img {
    height: 100px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

h1 { 
    font-size: 40px;
}

.chamada {
    background: rgb(224, 54, 54);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.chamada-texto {
    margin-right: 5%;
}

p {
    font-size: 20px;
}

.categoria-videos img {
    opacity 0.5;
}

.categoria-videos img:hover {
    opacity 1.0;
}

.categoria h2 {
    color: rgb(255, 255, 255);
}

section {
    ~~display: block;~~
    unicode-bidi: isolate;
}
